<div class="text-xs mx-2 p-4 rounded-xl shadow-lg corFundoComponentes">
    <h2 class="font-extrabold text-xl">Bem vindo ao ProdKit</h2>
    <p class="font-light">Explore abaixo as funcionalidades:</p>

    <div class="container mx-auto px-2 py-2 lg:py-8 lg:px-8">
        <div class="grid grid-cols-2 gap-1 md:gap-4 lg:gap-6">

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Contador</h2>
                <p class="text-gray-600">Conta a quantidade de caracteres de um texto.</p>
            </div>


            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Extrair Áudio</h2>
                <p class="text-gray-600">Extrair o áudio(mp3) de arquivos de vídeo(mp4)</p>
            </div>


            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Converter Arquivo</h2>
                <p class="text-gray-600">Converta diversos arquivos(PDF, WORD, PNG, JPG...)</p>
            </div>


            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Gerador de Senhas</h2>
                <p class="text-gray-600">Gere senhas seguras de acordo com o que é pedido</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
              <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Formatar JSON</h2>
              <p class="text-gray-600">Formate arquivos JSON compactos</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Validador</h2>
                <p class="text-gray-600">Valide número de documentos como CPF, CNPJ, CEP...</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Conversor de Moedas</h2>
                <p class="text-gray-600">Faz a cotação e converte diferentes moedas.</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Conversor de Medidas</h2>
                <p class="text-gray-600">Converta metros, segundos, quilos e muito mais.</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Link para Whatsapp</h2>
                <p class="text-gray-600">Gere links personalizados para whatsapp.</p>
            </div>

            <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-lg font-semibold mb-2 md:text-xl roxoPrincipal">Calculadora de Juros Compostos</h2>
                <p class="text-gray-600">Calcule seus investimentos a longo prazo com juros compostos.</p>
            </div>
        </div>
    </div>
</div>
