<div
    class="h-[75vh] flex flex-col text-xs mx-1 p-3 rounded-xl shadow-lg my-10 corFundoComponentes lg:h-[85vh] lg:w-[70vw]">
    <!-- H1 fixo no topo -->
    <!-- <div>
        <h1 class="font-extrabold text-xl lg:text-3xl">EXTRATOR DE TEXTO</h1>
    </div> -->

    <!-- Conteúdo centralizado em lg -->
    <div class="justify-center flex flex-2 flex-col gap-4 my-4 mx-1 g:items-center lg:justify-center">

        
        <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-white">🚧 PÁGINA EM CONSTRUÇÃO – EM UMA GALÁXIA MUITO, MUITO PRÓXIMA…</h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Aqui era pra ter algo incrível, mas nosso time de desenvolvedores (eu) ainda está lutando contra o código (e o café acabou).

        Volte mais tarde, ou, se estiver com pressa, grite pro nosso suporte que a gente acelera! 😉</p>
        


    </div>
</div>