<div class="flex flex-col text-xs mx-1 p-3 rounded-xl shadow-lg my-10 corFundoComponentes lg:h-[85vh] lg:w-[70vw]">
    <!-- H1 fixo no topo -->
    <div>
        <h1 class="font-extrabold text-xl lg:text-3xl">CONVERSOR DE MOEDAS</h1>
    </div>

    <!-- Conteúdo centralizado em lg -->
    <div class="flex flex-2 flex-col gap-4 my-4 mx-1 items-center justify-center">
        <!-- Valor a converter -->
        <div class="w-[80%]">
            <label for="valor" class="block mb-1 font-semibold">Valor:</label>
            <input type="number" [(ngModel)]="valor" id="valor"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                placeholder="Ex: 100" />
        </div>

        <!-- Moeda de origem -->
        <div class="w-[80%]">
            <label for="de" class="block mb-1 font-semibold">Converter de:</label>
            <div class="flex flex-row items-center gap-3">
              <select id="de" [(ngModel)]="moedaOrigem"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                  (change)="aoAlterarMoedaOrigem()">
                  <option *ngFor="let m of moedas" [value]="m.codigo">
                    {{ m.codigo }} - {{ m.nome }}
                  </option>
              </select>
              <img class="w-10 h-10 rounded-full" [src]="bandeiraOrigemUrl" alt="Avatar">
            </div>
        </div>

        <!-- Moeda de destino -->
        <div class="w-[80%]">
            <label for="para" class="block mb-1 font-semibold">Converter para:</label>
            <div class="flex flex-row items-center gap-3">
              <select id="para" [(ngModel)]="moedaDestino"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                  (change)="aoAlterarMoedaDestino()">
                  <option *ngFor="let m of moedas" [value]="m.codigo">
                    {{ m.codigo }} - {{ m.nome }}
                  </option>
              </select>
              <img class="w-10 h-10 rounded-full" [src]="bandeiraDestinoUrl" alt="Avatar">
            </div>

        </div>

        <!-- Botão -->
        <div class="w-full flex justify-center">
            <button (click)="converterMoeda()"
                class="px-6 py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-lg transition">
                Converter
            </button>
        </div>

        <!-- Resultado -->
        <div *ngIf="resultado !== null"
            class="w-full text-center bg-indigo-100 text-indigo-900 p-4 rounded-md shadow">
            <p class="text-lg font-semibold">Resultado: {{ resultado | currency:moedaDestino:true }}</p>
        </div>

    </div>
</div>
