@import "tailwindcss";

.corSideBar{
  background-color: #040c0c;
  color: white;
}

.roxoPrincipal{
  color: #040c0c;
}

.corFundoPrincipal{
  background-color: #041c2b;
}

.corFundoComponentes{
  background-color: #040c0c;
  color: white;
}

.corDosIcoes{
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
