<div
  class="flex flex-col w-[40vh] h-[70vh] items-center justify-center text-xs mx-1 p-3 rounded-xl shadow-lg my-10 corFundoComponentes lg:h-[85vh] lg:w-[70vw]"
>
  <!-- H1 fixo no topo -->
  <div class="mb-4">
    <h1 class="font-extrabold text-xl lg:text-3xl">Gerador de Senhas</h1>
  </div>

  <!-- Conteúdo centralizado em lg -->
  <div class="flex flex-1 flex-col lg:items-center lg:justify-center">
    <!-- Flags -->
    <div class="flex flex-col gap-4">
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" [(ngModel)]="letrasMaiusculas" class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
          Letras Maiúsculas
        </span>
      </label>

      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" [(ngModel)]="letrasMinusculas" class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
          Letras Minúsculas
        </span>
      </label>

      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" [(ngModel)]="numeros" class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
          Números
        </span>
      </label>

      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" [(ngModel)]="caracteresEspeciais" class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
          Caracteres Especiais
        </span>
      </label>
    </div>
    <!-- FINAL Flags -->

    <!-- Número -->
    <div class="flex my-4">
      <form class="max-w-sm mx-auto">
        <label
          for="number-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tamanho da Senha:</label
        >
        <input
          type="number"
          id="number-input"
          aria-describedby="helper-text-explanation"
          name="numberInput"
          [(ngModel)]="value"
          #numberInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="10"
          min="1"
          max="100"
          required
        />

        <div
          *ngIf="numberInput.invalid && numberInput.touched"
          class="mt-2 text-sm text-red-600 dark:text-red-400"
        >
          <span *ngIf="numberInput.errors?.['required']"
            >Campo obrigatório.</span
          >
          <span *ngIf="numberInput.errors?.['min']">Valor mínimo é 10.</span>
          <span *ngIf="numberInput.errors?.['max']">Valor máximo é 100.</span>
        </div>
      </form>
    </div>
    <!-- FINAL Número -->

    <button
      type="button"
      (click)="aoClicarEmGerar()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Gerar
    </button>

    <label
      for="message"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Senha Gerada:</label
    >
    <div class="flex gap-1 justify-center w-full">
      <textarea
        readonly
        id="message"
        rows="2"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Senha gerada..."
        [(ngModel)]="senhaGerada"
      ></textarea>

      <button
        (click)="copiarSenha()"
        class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-3 py-1 lg:px-5 lg:py-2 rounded lg:text-base"
        title="Copiar">
        <i class="fas fa-copy text-xl"></i>
      </button>
    </div>
  </div>
</div>